.light-blue-text {
  color: #e0ffff;
}

.dark-blue-background-text {
  background-color: #00008b;
}

.centered-text {
  text-align: center;
}

.light-grey-background {
  background-color: #d3d3d3;
}

.text-center {
  text-align: center;
}

.add-padding {
  padding: 1em;
}

body {
  margin: 0;
  }

  .record-image {
    background-image: url("record.png");
  }

  .repeat-image {
    background-repeat: repeat round;
  }

  .position-left {
    background-position: left top;
  }
